<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->
    <!-- <link href="/webclip.png" rel="apple-touch-icon"> -->

    <title>Appname</title>

    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
  </head>

  <body>
    <h1>{{ now }}</h1>
    
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
  </body>
</html>
